<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mylo.tv" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Mylo TV</name>
  <description>A lightweight global TV streaming grid &amp; aggregator by DTGODEV</description>
  <author>DTGODEV</author>
  <content src="index.html" />
  
  <!-- App Preferences -->
  <preference name="Orientation" value="sensorPortrait" />
  <preference name="Fullscreen" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackgroundColor" value="0xFF121623" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="ShowTitle" value="true" />
  <preference name="FadeSplashScreen" value="true" />
  <preference name="FadeSplashScreenDuration" value="750" />
  <preference name="loglevel" value="ERROR" />
  
  <!-- Cordova Plugins -->
  <plugin name="cordova-plugin-device" spec="^2.0.3" />
  <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
  <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
  
  <!-- Android Platform Specific -->
  <platform name="android">
    <allow-intent href="market:*" />
    <allow-intent href="vnd.android.intent/action/DIAL*" />
    <preference name="android:targetSdkVersion" value="33" />
    <preference name="android:minSdkVersion" value="24" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <icon src="res/android/icon.png" />
    <splash src="res/android/splash.png" />
  </platform>
  
  <!-- Network Access -->
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="*" />
</widget>
